.normal {
    color: orange;
    background-color: brown;
    padding: 30px;
    margin: 10px;
    width: 25%;
    float: left;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    opacity: 1;
}
.one {
    color: orange;
    background-color: brown;
    padding: 30px;
    margin: 10px;
    width: 25%;
    float: left;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    opacity: 0.75;
}
.two {
    color: orange;
    background-color: brown;
    padding: 30px;
    margin: 10px;
    width: 25%;
    float: left;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    opacity: 0.25;
}