.san-ser {
    font-family: Arial, Helvetica, sans-serif;
}

.with-ser {
    font-family: 'Times New Roman', Times, serif;
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.san-ser,
.dm-serif-text-regular,
.dm-serif-text-regular-italic,
.with-ser {
    background-color: plum;
    width: 500px;
    color: teal;
    margin: 10px 0;
    padding: 10px;
}