.parent1 {
    border: 7px solid orange;
    margin: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}

.parent1 p {
    border: inherit;
    margin: inherit;
    text-align: inherit;
    font-family: inherit;
    font-weight: bolder;
    padding: inherit;
}

.parent2 {
    border: 7px solid darkcyan;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    width: 1000px;
    margin: auto;
}
 
.parent2 .pp {
    border: inherit;
    margin: inherit;
    text-align: inherit;
    font-family: inherit;
    font-weight: bolder;
    padding: inherit;
}