.cls-1 {
    letter-spacing: 15px;
}

.cls-2 {
    text-indent: 20px;
    margin: 20px 0;
}

.cls-3 {
    max-width: 300px;
    margin: 20px 0;
    line-height: 13px;
}

.cls-4 {
    letter-spacing: 15px;
}

.cls-5 {
    width: 300px;
    margin: 20px 0;
    background-color: yellow;
    /* default */
    /* white-space: normal; */
    white-space: nowrap;
}

.cls-6 {
    margin: 20px 0;
    background-color: red;
    width: 400px;
    word-break: break-all;
}