.assign-1-shape1 {
    width: 500px;
    background-color: blueviolet;
    padding: 20px;
    margin: 10px;
}

.assign-1-shape2 {
    width: 500px;
    background-color: rgb(138, 43, 226, 50%);
    padding: 20px;
    margin: 10px;
}

.assign-1-shape3 {
    width: 500px;
    background-color: #8a2be233;
    padding: 20px;
    margin: 10px;
}