.assign-2-shape1 {
    background-image: url("../../Practice2/Images/example.png");
    width: 400px;
    height: 400px;
    color: wihte;
    font-size: 40px;
    background-color: plum;
    background-repeat: no-repeat;
}

.assign-2-shape2 {
    background-image: url("../../Practice2/Images/example.png");
    width: 400px;
    height: 400px;
    color: wihte;
    font-size: 40px;
    background-position: top right;
    background-color: plum;
    background-repeat: repeat-y;
}

.assign-2-shape3 {
    background-image: url("../../Practice2/Images/example.png");
    width: 400px;
    height: 400px;
    color: wihte;
    font-size: 40px;
    background-repeat: repeat;
    background-color: plum;
}

.assign-2-shape4 {
    background-image: url("../../Practice2/Images/example.png");
    width: 400px;
    height: 400px;
    color: wihte;
    font-size: 40px;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: plum;
}