
div {
    padding: 10px 0;
    background-color: blue;
    color: white;
    text-align: center;
    float: left;

    /* width: calc(88%/5); */
    /* margin-left: 2%; */
    
    width: calc( (100%-60px) / 5);
    margin-left: 10px;
}


/*
    Content Width Is: 100%
    5 Spaces 1%*5=> 5% From Content Width 95% Available Space
    4 Elements The Width Is: 95% / 4 = 23.75
*/